<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Завершение регистрации</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="alert alert-success" >
    <h3 class="alert-heading">Вы успешно зарегистрировались</h3>
    <h4><a th:href="@{/login}">Нажмите, чтобы войти</a></h4>
</div>

</body>
</html>