<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Загрузка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
    <body class="text-center">
    <header th:insert="blocks/header.html :: header"></header>
    <h1>Загрузка групп</h1>

        <div class="container text-center">
            <form th:action="@{/load/groups}" method="post" enctype="multipart/form-data" style="max-width: 600px; margin: 0 auto;">
                <div class="m-3">
                    <div class="form-group row">
                        <input type="file" th:name="file" />
                    </div>

                    <div>
                        <button th:type="submit" class="btn btn-primary">Загрузить</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>